<div class="px-6 py-4  bg-[#150E28] border-t">
    <div class="flex flex-col items-end">
        <p class="text-base md:text-2xl sm:text-3xl  font-bold italic text-white">Igniting a Revolution in HR Innovation
        </p>
        <div class="">
            <svg width="255" height="17" viewBox="0 0 255 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path d="M1 14.043C43.3333 5.7097 154.4 -5.95697 254 14.043" stroke="#FF26B9" stroke-width="5" />
            </svg>
        </div>
    </div>

    <div class="px-6 flex flex-col md:flex-row items-center md:items-start justify-between mt-12">
        <!-- Left Side Text -->
        <div class="text-center md:text-left md:mr-4">
            <h1 class="text-3xl md:text-7xl font-bold text-white">getlinked Tech</h1>
            <div class="flex items-center mt-2">
                <h1 class="text-3xl md:text-7xl font-bold text-white flex items-center">
                    Hackathon <span class="text-[#D434FE]">1.0</span>
                    <img src="assets/images/chain.svg" alt="" class="ml-0 md:ml-2 w-12 md:w-28">
                    <img src="assets/images/fire.png" alt="" class="ml-0 md:ml-2 w-12 md:w-28">
                </h1>
            </div>


            <p class="text-sm mt-2 text-white">Participate in Getlinked Tech Hackathon 2023 and stand a chance to win a
                big prize</p>
            <button
                class="mt-6 bg-gradient-to-r from-purple-900 via-purple-600 to-pink-500 text-white px-8 py-2 rounded">Register</button>
        </div>

        <!-- Right Side Image  -->
        <div class="mt-4 md:mt-0">
            <img src="assets/images/universe.png" alt="Image" class="w-64 h-auto md:w-96 md:h-auto">

        </div>
    </div>

    <div class="border-t mt-4 border-[#ffffff]">
        <div class="mt-6 px-6 py-6 flex flex-col md:flex-row items-center md:items-start justify-between">

            <!-- Left Side -->
            <div class="w-1/2 text-center ">
                <img src="assets/images/idea.svg" alt="logo">
            </div>

            <!-- Right Side Text -->
            <div class=" w-1/2 ">
                <h1 class="text-3xl md:text-4xl font-bold text-white md:mt-20 mt-8">Introduction to Getlinked</h1>
                <h2 class="text-3xl md:text-4xl font-bold text-[#D434FE]">Tech Hackathon 1.0</h2>
                <p class="text-lg mt-6  text-white ">
                    Our tech hackathon is a melting pot of visionaries, and its purpose is as
                    clear as day: to shape the future. Whether you're a coding genius, a
                    design maverick, or a concept wizard, you'll have the chance to transform
                    your ideas into reality. Solving real-world problems, pushing the boundaries
                    of technology, and creating solutions that can change the world,
                    that's what we're all about!
                </p>
            </div>

        </div>
    </div>

    <div class="border-t mt-4">
        <div class="mt-6 px-6 py-6 flex flex-col md:flex-row items-center md:items-start justify-between">

            <!-- Left Side (Text) -->
            <div class="text-center md:text-left md:ml-4 w-full md:w-1/2 order-2 md:order-1">
                <h1 class="text-4xl font-bold text-white mt-4 md:mt-20">Rules and</h1>
                <h2 class="text-4xl font-bold text-[#D434FE]">Guidelines</h2>
                <p class="text-lg mt-6  text-white">
                    Our tech hackathon is a melting pot of visionaries, and its purpose is as
                    clear as day: to shape the future. Whether you're a coding genius, a
                    design maverick, or a concept wizard, you'll have the chance to transform
                    your ideas into reality. Solving real-world problems, pushing the boundaries
                    of technology, and creating solutions that can change the world,
                    that's what we're all about!
                </p>
            </div>

            <!-- Right Side (Image) -->
            <div class="mt-4 md:mt-0 w-full md:w-1/2 order-1 md:order-2">
                <img src="assets/images/study.svg" alt="logo">
            </div>

        </div>
    </div>
    <div class="border-t mt-4 border-[#ffffff]">
        <div class="mt-6 p-0 md:p-6 flex flex-col md:flex-row items-center md:items-start justify-between">

            <!-- Left Side -->
            <div class="w-1/2 text-center">
                <img src="assets/images/four.svg" alt="logo" class="mt-4">
            </div>

            <!-- Right Side Text -->
            <div class=" w-1/2">
                <h1 class="text-3xl md:text-4xl font-bold text-white md:mt-0 mt-8 clash-display">Judging Criteria</h1>
                <h2 class="text-3xl md:text-4xl font-bold text-[#D434FE] clash-display">Key attributes</h2>
                <div class="mt-6">

                    <p class="text-white text-sm"><span class="font-bold text-[#D434FE] mr-2">Innovation and
                            Creativity</span>:
                        Evaluate the uniqueness and creativity of the solution. Consider whether it addresses a
                        real-world
                        problem in a novel way or introduces innovative features.</p>
                </div>

                <div class="mt-6">

                    <p class="text-white text-sm"><span class="font-bold text-[#D434FE] mr-2">Functionality</span>:
                        Assess how well
                        the solution works. Does it perform its
                        intended functions effectively and without major issues? Judges would
                        consider the completeness and robustness of the solution.</p>
                </div>
                <div class="mt-6 ">

                    <p class="text-white text-sm"><span class="font-bold text-[#D434FE] mr-2">Impact and
                            Relevance</span>: Determine
                        the potential impact of the solution
                        in the real world. Does it address a significant problem, and is it relevant
                        to the target audience? Judges would assess the potential social,
                        economic, or environmental benefits.</p>
                </div>
                <div class="mt-6">

                    <p class="text-white text-sm"><span class="font-bold text-[#D434FE] mr-2">Technical
                            Complexity</span>: Evaluate
                        the technical sophistication of the solution.
                        Judges would consider the complexity of the code, the use of advanced
                        technologies or algorithms, and the scalability of the solution.</p>
                </div>
                <div class="mt-6">

                    <p class="text-white text-sm"><span class="font-bold text-[#D434FE] mr-2">Adherence to Hackathon
                            Rules</span>:
                        Judges will Ensure that the team adhered
                        to the rules and guidelines of the hackathon, including deadlines, use of
                        specific technologies or APIs, and any other competition-specific requirements.</p>
                </div>
                <button
                    class="mt-6 bg-gradient-to-r from-purple-900 via-purple-600 to-pink-500 text-white px-8 py-2 rounded">Register</button>

            </div>

        </div>
    </div>

    <div class="border-t mt-4 border-[#ffffff] mb-4">
        <div class="mt-6 p-2 flex flex-col md:flex-row items-center md:items-start justify-between">

            <!-- Left Side -->
            <div class="items-center px-1 md:px-24 md:text-left md:ml-4 w-full md:w-1/2 order-2 md:order-1">
                <div>
                    <h1 class="text-4xl font-bold text-white mt-4 md:mt-20">Frequently Ask </h1>
                    <h2 class="text-4xl font-bold text-[#D434FE]">Question</h2>
                    <p class="text-sm mt-6  text-white">
                        We got answers to the questions that you might want to ask about getlinked Hackathon 1.0
                    </p>
                </div>

                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">Can I work on a project I started before the hackathon?</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>

                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">What happens if I need help during the hackathon?</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>

                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">What happens if I don't have an idea for a project?</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>

                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">Can I join a team or do I have to come with one?</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>
                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">What happens after the hackathon ends</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>
                <div class="mt-4 flex justify-between border-b p-2 border-[#D434FE]">
                    <p class="text-sm text-white">Can I work on a project I started before the hackathon?</p>
                    <a href="#"><img src="assets/images/+.svg" alt=""></a>
                </div>


            </div>

            <!-- Right Side Text -->
            <div class="flex items-center md:text-left md:ml-4 w-full md:w-1/2 order-2 md:order-1">
                <img src="assets/images/cwok1.svg" alt="logo" class="mt-4 ">
            </div>
        </div>
    </div>

    <div class="border-t">
        <div class=" text-center mt-2">
            <div>
                <h2 class="text-center text-2xl font-bold text-white ">Timeline</h2>
                <p class="text-center text-sm  text-white">Here is the breakdown of the time we anticipate using for the
                    upcoming event.</p>
            </div>
            <div class="">
                <!-- 1st date -->
                <div class="md:px-12 mt-16 flex flex-col lg:flex-row lg:flex-wrap text-left">

                    <div class="md:px-6 w-full lg:w-1/2 lg:text-right ">
                        <h2 class="text-base font-bold text-[#D434FE]">Hackathon Announcement</h2>
                        <p class="text-sm text-white">The getlinked tech hackathon 1.0 is formally announced to the
                            general public, and
                            teams begin to get ready to register</p>
                    </div>

                    <div class="w-full lg:w-1/2 lg:mt-2 text-left">
                        <h2 class="md:px-12 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>
                </div>

                <!-- 2nd date -->
                <div class="md:px-12 mt-4 flex flex-col lg:flex-row lg:flex-wrap text-left">
                    <!-- 1st div -->
                    <div class="w-full lg:w-1/2  lg:mt-2 text-left lg:text-right order-2 md:order-1">
                        <h2 class="md:px-12 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>
                    <!-- 2nd divs -->
                    <div class="md:px-12 w-full lg:w-1/2 lg:text-left order-1 md:order-2">
                        <h2 class="text-base font-bold text-[#D434FE]">Teams Registration begins</h2>
                        <p class="text-sm text-white">Interested teams can now show their interest in the
                            getlinked tech hackathon 1.0 2023 by proceeding to register</p>
                    </div>

                </div>
                <!-- 1st date -->
                <div class="md:px-12 mt-4 flex flex-col lg:flex-row lg:flex-wrap text-left">

                    <div class="md:px-6 w-full lg:w-1/2 lg:text-right ">
                        <h2 class="text-base font-bold text-[#D434FE]">Teams Registration ends</h2>
                        <p class="text-sm text-white">Interested Participants are no longer Allowed to register</p>
                    </div>

                    <div class="w-full lg:w-1/2 lg:mt-2 text-left">
                        <h2 class="md:px-12 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>
                </div>

                <!-- 2nd date -->
                <div class="md:px-12 mt-4 flex flex-col lg:flex-row lg:flex-wrap text-left">
                    <div class="w-full lg:w-1/2  lg:mt-2 text-left lg:text-right order-2 md:order-1">
                        <h2 class="md:px-6 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>
                    <div class="md:px-12 w-full lg:w-1/2 lg:text-left order-1 md:order-2">
                        <h2 class="text-base font-bold text-[#D434FE]">Announcement of the accepted teams
                            and ideas</h2>
                        <p class="text-sm text-white">All teams whom idea has been accepted into getlinked tech
                            hackathon 1.0 2023 are formally announced</p>
                    </div>


                </div>
                <!-- 1st date -->
                <div class="md:px-12 mt-4 flex flex-col lg:flex-row lg:flex-wrap text-right">

                    <div class="md:px-6 w-full lg:w-1/2 text-left lg:text-right ">
                        <h2 class="text-base font-bold text-[#D434FE]">Getlinked Hackathon 1.0 Offically Begins</h2>
                        <p class="text-sm text-white">Accepted teams can now proceed to build their
                            ground breaking skill driven solutions</p>
                    </div>

                    <div class="w-full lg:w-1/2 lg:mt-2 text-left">
                        <h2 class="md:px-12 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>
                </div>
                <!-- 2nd date -->
                <div class="md:px-12 mt-4 flex flex-col lg:flex-row lg:flex-wrap text-left">

                    <div class="w-full lg:w-1/2  lg:mt-2 text-left lg:text-right order-2 md:order-1">
                        <h2 class="md:px-6 text-base font-bold text-[#D434FE]">November 18, 2023</h2>
                    </div>

                    <div class="md:px-12 w-full lg:w-1/2 lg:text-left order-1 md:order-2">
                        <h2 class="text-base font-bold text-[#D434FE]">Demo Day</h2>
                        <p class="text-sm text-white">Teams get the opportunity to pitch their projects to judges. The
                            winner of the hackathon will also be announced on this day</p>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="border-t mt-4">
        <!-- text -->
        <div class="mt-8 md:ml-24 text-center">

            <h2 class="text-2xl font-bold text-[#ffffff]">Prizes and </h2>
            <h2 class="text-2xl font-bold text-[#D434FE]">Rewards</h2>
            <p class="text-sm text-[#ffffff] mt-2">Highlight of the prizes or rewards for the winners and
                for particapants
            </p>
        </div>
        <!-- text end -->

        <div class="md:px-8 mt-4 flex flex-col md:flex-row">

            <div class=" w-full lg:w-1/2">
                <img src="assets/images/cup.svg" alt="">
            </div>
            <div class=" w-full lg:w-1/2 mt-4 md:mt-8">

                <img src="assets/images/Rewards.svg" alt="">
            </div>
        </div>

    </div>

    <div class="border-t mt-4 h-28px w-376px">
        <div class="text-center mt-4">
            <h2 class="text-2xl font-bold text-[#ffffff]">Partners and Sponsors</h2>
            <p class="text-sm text-[#ffffff] mt-2">Getlinked Hackathon 1.0 is honored to have the following major
                companies as its partners and sponsors</p>
            <div class="mt-12">
                <img src="assets/images/Partnersponsorssection.svg" alt="">
            </div>
        </div>
    </div>

    <div class="border-t mt-4 ">
        <div class="flex flex-col md:flex-row mt-8 p-4 md:p-16">
            <div class=" w-full lg:w-1/2 p-4">
                <h2 class="text-2xl font-bold text-[#ffffff]">Partners and Sponsors</h2>
                <h2 class="text-2xl font-bold text-[#D434FE]">Rewards</h2>
                <p class="text-sm text-[#ffffff] mt-2">Last updated on September 12, 2023</p>
                <p class="text-sm text-[#ffffff] mt-2">Below are our privacy & policy, which outline a lot of goodies.
                    it’s our aim to always take of our participant</p>

                <div class="border mt-4 border-[#D434FE] py-12 px-2 md:p-12">
                    <p class="text-sm text-[#ffffff]">
                        At getlinked tech Hackathon 1.0, we value your privacy
                        and are committed to protecting your personal information.
                        This Privacy Policy outlines how we collect, use, disclose,
                        and safeguard your data when you participate in our tech
                        hackathon event. By participating in our event, you consent
                        to the practices described in this policy.
                    </p>
                    <h2 class="mt-4 text-base font-bold text-[#D434FE]">Licensing Policy</h2>
                    <p class="text-sm text-[#ffffff] font-bold">Here are terms of our Standard License:</p>
                    
                    <div class="flex gap-4">
                        <img src="assets/images/list.svg" alt="">
                        <p class=" text-sm text-[#ffffff] mt-4">The Standard License grants you a non-exclusive right to
                            navigate and register for our event</p>
                    </div>
                    <div class="flex gap-4 nt-4">
                        <img src="assets/images/list.svg" alt="">
                        <p class=" text-sm text-[#ffffff] mt-4">You are licensed to use the item available at any free
                            source
                            sites, for your project developement</p>
                    </div>
                    <div class="text-center mt-8">
                    <button
                        class="  bg-gradient-to-r from-purple-900 via-purple-600 to-pink-500 text-white px-8 py-2 rounded">Register</button>
                    </div>


                </div>

            </div>
            <div class=" w-full lg:w-1/2 bg-right bg-cover bg-no-repeat"
                style="background-image: url('assets/images/bgimg.svg');">
                <img src="assets/images/lock.svg" alt="">
            </div>
        </div>

    </div>

    






</div>