<div class="w-full bg-[#100B20] py-12 md:py-12 px-4 md:px-12">

  <div class="flex flex-col md:flex-row gap-6 ">
    <!-- 1st work -->
    <div class="md:w-1/3 items-center">
      <img src="assets/images/getlinked.svg" alt="">
      <p class="text-xs text-[#ffffff]">Getlinked Tech Hackathon is a technology innovation program established by a
        group of organizations with the aim of showcasing young and talented individuals in the field of technology</p>
      <p class="text-xs text-[#ffffff] mt-12 md:mt-24">Terms of Use <span class="border-b border-[#D434FE] w-2 h-16"></span>
        Privacy Policy</p>
    </div>
    <!-- 2nd work-->
    <div class="md:w-1/3 mt-4 md:mt-0 items-center space-y-4">
      <h4 class="text-sm font-bold text-[#D434FE]">Useful Links</h4>
      <p class="text-xs text-[#ffffff] mt-2">Overview</p>
      <p class="text-xs text-[#ffffff] mt-2">Timeline</p>
      <p class="text-xs text-[#ffffff] mt-2">FAQs</p>
      <p class="text-xs text-[#ffffff] mt-2">Register</p>
      <div class="flex gap-2">
        <p class="text-xs text-[#D434FE] font-bold mt-2">Follow us</p>
        <img class="mt-2" src="assets/images/instagram.svg" alt="">
        <img class="mt-2" src="assets/images/x.svg" alt="">
        <img class="mt-2" src="assets/images/fb.svg" alt="">
        <img class="mt-2" src="assets/images/linkedin.svg" alt="">
      </div>
    </div>
    <!-- 3rd work-->
    <div class="md:w-1/3 mt-4 md:mt-0  items-center space-y-4">
      <h4 class="text-sm font-bold text-[#D434FE]">Contact Us</h4>
      <div class="flex gap-2 mt-4">
        <img class="mt-2" src="assets/images/phone.svg" alt="">
        <p class="text-xs text-[#ffffff] mt-2"> +234 6707653444</p>
      </div>
      <div class="flex gap-2 mt-4">
        <img class="mt-2" src="assets/images/location.svg" alt="">
        <p class="text-xs text-[#ffffff] mt-2"> 27,Alara Street
          Yaba 100012
          Lagos State</p>
      
      </div>
    </div>

  </div>
  <div class="text-center text-sm text-[#ffffff] mt-12">
    <p>All rights reserved. © getlinked Ltd.</p>
  </div>

</div>