<div class="bg-[#150E28] mt-16 p-4 sm:p-8 md:flex justify-between items-center">
    <div class="md:w-1/2 space-y-4">
        <h2 class="text-2xl font-bold text-[#D434FE]">Get in touch</h2>
        <p class="text-sm text-[#ffffff]">Contact Information</p>
        <p class="text-sm text-[#ffffff]">27,Alara Street Yaba 100012 Lagos State</p>
        <p class="text-sm text-[#ffffff]">Call Us : 07067981819</p>
        <p class="text-sm text-[#ffffff]">we are open from Monday-Friday 08:00am - 05:00pm</p>
    </div>
    <div class="md:w-1/2 border p-12 ">
        <h2 class="text-xl font-bold text-[#D434FE]">Questions or need assistance?</h2>
        <h2 class="text-xl font-bold text-[#D434FE]">Let us know about it!</h2>
        <div class="mt-4 flex flex-col space-y-4">
            <input type="text" class="px-12 py-2 border outline-none bg-transparent" placeholder="First Name">
            <input type="text" class="px-12 py-2 border outline-none bg-transparent" placeholder="Email">

            <input type="message" class="px-12 py-8 border outline-none bg-transparent" placeholder="Message">
    
    
        </div>
    </div>
</div>
